.bg{
    width: 1580px;
    height: 760px;
    background-image:url(bg.jpg) ;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: rgb(104, 158, 219) ;
    margin: 20px auto ;
    top: 70px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 8px;
}
.out{
    width: 98%;
    height: 60px;
    margin-top: 10px;
    background-color: rgb(229, 183, 233);
    font-size: x-large;
}
.operator, .number{
  padding: 30px;

  font-size: larger;
  border: aqua;
  border-radius: 150px;
  border-width: 10;
  background-color: #238fd6;
  font-weight: bolder;
  cursor: pointer;
  margin: 3px;
  box-shadow: 0 3px 6px;
}
#clearbtn{
    width: 100%;
    margin-top: 10px;
}
#halfbtn{
    width: 15px;
    margin: 20px auto ;
    position: relative;
    border: aqua;
    border-radius: 150px;
    border-width: 10;
    height: 40px;
    font-weight: bolder;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;

    box-shadow: 0 3px 6px;
}
.head{
    margin-left: 640px;
    color: rgb(27, 27, 170);
}